<h1 class="box-border top-0 left-0 w-screen overflow-x-hidden py-12 text-6xl text-center font-semibold text-white align-middle bg-teal-800" 
style="background-image: url('../assets/header-bg.jpg'); background-position: center; background-repeat: no-repeat;" >
  Terry DeCoste
</h1>
