<a href="/" class="flex flex-row p-4">
  <img src="../assets/profile_pic_sq.jpg" class="rounded-full h-32 w-32 border" />
  <h1 class="box-border top-0 left-0 w-screen overflow-x-hidden p-6 text-4xl font-semibold text-white align-middle"
      style="text-shadow: 0px 0px 10px black;">
    Terry DeCoste
  </h1>
</a>