<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/main.bundle.css">
  <script src="/assets/main.bundle.js" defer></script>
  <title>{{ title }}</title>
  {% block head %}{% endblock %}
</head>
<body class="bg-gray-900 overflow-x-hidden text-white flex flex-col h-screen"
  style="background-image: url('../assets/JSBackground_fuzz.png'); background-position: left; background-repeat: no-repeat; background-size: cover;" >
  {% if page.url != '/' %}
  <div class="flex-grow-0">
    {% include 'header.njk' %}
  </div>
  {% endif %}
  <div class="flex-grow overflow-y-auto">
    <div class="container mx-auto max-w-screen-md">
      {% block body %}{% endblock %}
    </div>
  </div>
  <div class="flex-grow-0 container mx-auto max-w-screen-md">
    {% include 'nav.njk' %}
  </div>
</body>
</html>
