<nav class="px-4 text-2xl flex flex-row mx-auto">
  <a
    class="w-48 py-4 px-8 border rounded-t-lg {{ 'font-bold bg-gray-700' if page.url == '/experience/' else 'bg-gray-800 hover:bg-gray-600 hover:text-black' }}"
    href="/experience/"
  >
    Where I've Worked
  </a>
  <a
    class="w-48 py-4 px-8 border rounded-t-lg {{ 'font-bold bg-gray-700' if page.url == '/projects/' else 'bg-gray-800 hover:bg-gray-600 hover:text-black' }}"
    href="/projects"
  >
    What I've Done
  </a>
  <a
    class="w-48 py-4 px-8 border rounded-t-lg {{ 'font-bold bg-gray-700' if page.url == '/contact/' else 'bg-gray-800 hover:bg-gray-600 hover:text-black' }}"
    href="/contact"
  >
    Send a Message
  </a>
  <div class="text-xs flex flex-col justify-end">
    <div>© 2020</div>
    <div>Terry DeCoste</div>
  </div>
</nav>