<nav class="px-4 text-lg md:text-2xl flex flex-col md:flex-row mx-auto">
  <a
    class="w-full md:w-48 py-1 md:py-4 px-2 md:px-5 border rounded-t-lg {{ 'font-bold bg-gray-700' if page.url == '/experience/' else 'bg-gray-800 hover:bg-gray-600 hover:text-black' }}"
    href="/experience/"
  >
    Where I've Worked
  </a>
  <a
    class="w-full md:w-48 py-1 md:py-4 px-2 md:px-5 border rounded-t-lg {{ 'font-bold bg-gray-700' if page.url == '/projects/' else 'bg-gray-800 hover:bg-gray-600 hover:text-black' }}"
    href="/projects"
  >
    What I've Done
  </a>
  <a
    class="w-full md:w-48 py-1 md:py-4 px-2 md:px-5 border rounded-t-lg {{ 'font-bold bg-gray-700' if page.url == '/achievements/' else 'bg-gray-800 hover:bg-gray-600 hover:text-black' }}"
    href="/achievements"
  >
    What I've Learned
  </a>
  <a
    class="w-full md:w-48 py-1 md:py-4 px-2 md:px-5 border rounded-t-lg {{ 'font-bold bg-gray-700' if page.url == '/contact/' else 'bg-gray-800 hover:bg-gray-600 hover:text-black' }}"
    href="/contact"
  >
    Send a Message
  </a>
  <div class="text-xs flex flex-row md:flex-col gap-2 justify-end">
    <div>© 2025</div>
    <div>Terry DeCoste</div>
  </div>
</nav>