---
title: Terry's Experience
employments: [
  {
    employer: 'The OTC Group',
    dates: 'Feb 2017 - Present',
    role: 'Data Processing Analyst Team Lead/Program Developer',
    description: {
      'Develop Programs': 'Internal command-line and full-stack web-based tools via JavaScript / C# MVC / SQL Server / MySQL / Google Apps Script',
      'Lead the data team': 'train employees, balance team priorities, maintain documentation, ensure data security, report to management on team performance',
      'Process all data requests': 'gather / clean / analysis / reporting',
    },
    link: 'https://www.otcgc.com/',
  },
  {
    employer: 'A&R Solutions',
    dates: 'Aug 2015 – Oct 2016',
    role: 'Deskside/Network Support Technician',
    description: {
      'IT support for all levels of employees': 'first point of contact for issues, errors, and installations for employees, management, and ownership',
      'Support multiple dealerships': 'travel within region to provide on-site support',
      'Maintain Documentation': 'create / update work tickets, inventory, system setup, and analysis, verify PowerShell inventory scripts',
    },
    link: 'https://anrsolutions.ca/',
  },
  {
    employer: 'Reynolds and Reynolds',
    dates: 'Oct 2012 – Jun 2015',
    role: 'Software Support Specialist',
    description: {
      'Software Support': 'call centre for assistance with errors and program use',
      'High Metric Ranking': 'continually within top 3 agents for Call Volume, Quality, and Customer Satisfaction, with many 5-star customer reviews',
      'Reporting creation and custom modification': 'create custom proprietary reports on user systems, engaged programming to create custom fields',
    },
    link: 'https://www.reyrey.ca/',
  },
  {
    employer: 'IBM Canada Ltd',
    dates: 'May 2011 – Oct 2012',
    role: 'Technical Support Analyst',
    description: {
      'Custom tool updating': 'recode internal tools and security update scripts via AutoHotKey and PowerShell to resolve errors and add functionality',
      'Windows / Office Support': 'Windows XP / 7, Server 2003 / 2008, MS Office',
      'Email based support': 'specialized team for advanced security and rapid support',
    },
    link: 'https://www.ibm.com/',
  },

]
---

{% extends "layout.njk" %}

{% block body %}
  <main class="p-4 prose max-w-full mx-auto">
    <h1 class="px-8" style="text-shadow: 0px 0px 10px black;">Employment Database</h1>
    {% for employment in employments %}
    <div class="border border-gray-600 px-8 m-0 mx-auto my-4 bg-gray-900 bg-opacity-75">
      <div class="flex flex-row justify-between">
        <h3>{{employment.employer}}</h3><h3>{{employment.dates}}</h3>
      </div>
      <h3>{{employment.role}}</h3>
      
      <table><tbody>
      {% for title, value in employment.description %}
        <tr class="text-gray-300"><td class="w-1/3 font-bold">{{title}}</td><td>{{value}}</td></tr>
      {% endfor %}
      </tbody></table>
    </div>
    {% endfor %}
  </main>
{% endblock %}
