---
title: Terry's Portfolio
---

{% extends "layout.njk" %}

{% block body %}
  <main class="p-4 font-sans tracking-widest">
    <div id="top_phrase" class="p-8 mx-auto">
      <h1 class="text-6xl font-bold" style="text-shadow: 0px 0px 10px black;">Make it Right</h1>
      <h1 class="text-6xl font-bold" style="text-shadow: 0px 0px 10px black;">Make it Work</h1>
      <h1 class="text-6xl font-bold" style="text-shadow: 0px 0px 10px black;">Make the Choice</h1>
    </div>
    <div id="name_and_photo" class="p-8 mx-auto flex flex-row">
      <div class="pr-4">
        <img src="../assets/profile_pic_sq.jpg" class="rounded-full h-32 w-32 border" style="text-shadow: 0px 0px 10px black;" />
      </div>
      <div>
        <h2 class="text-4xl font-black" style="text-shadow: 0px 0px 10px black;">Terry DeCoste</h2>
        <h2 class="text-4xl font-bold" style="text-shadow: 0px 0px 10px black;">Full Stack Developer</h2>
      </div>
    </div>
  </main>
{% endblock %}
