{% extends "layout.njk" %}

{% block body %}
  <main class="p-4 prose-xl max-w-full mx-auto">
    <h1 class="px-8">My Story!</h1>
    <div class="p-4">
      <h3 class="font-black">My Backstory</h3>
      <p>Born and raised in small-town Nova Scotia, I was blessed with the chance to spend 3 of my elementary school years in the city of Greenville, South Carolina, US.  This helped to give me a sense of adventure and an appreciation of what it means to be Canadian.</p>
      <p>From the age of 6, I have played Violin, and in High School, I picked up Trombone for the school band, and Electric Bass for my garage band.</p>
      <p>Learning Electric Bass led me into the technology side of entertainment, and the exciting world of Audio production and Television.</p>

      <h3 class="font-black">My Employment Story</h3>
      <p>I have had a variety of experience over my years in the workforce.</p>
      <p>I started in the Television industry, graduating from Ryerson's Radio and Television Arts program, after which I worked in Woodbine Racetrack's Television department, eventually working up to Relief Operator/Lead Trainer.</p>
      <p>My brother-in-law then suggested that IT may be a better fit for me, and I transitioned into IT support, working as IT support for IBM, then Software Support for Reynolds and Reynolds.</p>
      <p>It was here that my love of programming started to flourish.  In elementary school, I had done some coding, but computers at the time were not nearly as advanced as they are now.  I found in IT support that I could re-code helper tools that others had coded to make them help even more helpful!</p>
      <p>From Reynolds, I then moved to A&R Solutions, where I did deskside support for Automotive Dealerships.  This was very enlightening, where I was involved in supporting all facets of their IT infrastructure, including workstations, servers, software installations, etc.</p>
      <p>Finally, after A&R, I have been working for OTC Systems Ltd since Feb 2017.  At OTC, my primary role is Data Processing Team Lead.  In this role, I manage a team of up to 4 to ensure that all data provided to OTC by dealerships is processed correctly to clean the data and identify the best targets for mail, email, and phone advertising.</p>
      <p>My secondary role at OTC is as Programmer.  In this role, I created the DataTools site to standardize the data processing, and from this, I was given the opportunity to be the Primary Developer for the Mitaa Processor.  I have also been able to develop several other smaller tools, especially when geo-mapping or heavy data processing is involved.</p>
    </div>
  </main>
{% endblock %}
